ASPNETCORE_HTTP_PORTS=80
StorageSettings__StorageServiceBaseUrl=http://localhost:32776
Redis__Port=YOUR_OWN_VALUE
Redis__Password=YOUR_OWN_VALUE
Redis__Host=YOUR_OWN_VALUE
Serilog__MinimumLevel__Default=Information
Serilog__MinimumLevel__Override__Microsoft.AspNetCore=Warning
Kestrel__Certificates__Development__Password=9caad386-d0d5-4ff1-92e8-eb605414700c
AzureAd__TenantId=YOUR_OWN_VALUE
AzureAd__Instance=YOUR_OWN_VALUE
AzureAd__ClientId=YOUR_OWN_VALUE
AzureAd__Audience=YOUR_OWN_VALUE